@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "avenir";
  src: url("/Fonts/Avenir-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "avenir";
}
